<div class="container mt-4">
  <div class="row">
    <h1>Modification de la catégorie</h1>
  </div>
  <div class="row">
    	<%= simple_form_for(@category) do |f| %>
        <%= f.input :nom %>
        <%= f.file_field :image %>
        <p>
        <%= link_to categories_path, class: "btn btn-primary" do %>
          <i class="fas fa-arrow-left text-white"></i>
        <% end %>
        <%= f.submit "Modifier", {class: "btn btn-primary"} %>
        </p>
      <% end %>
  </div>
</div>
